<head>
  {% assign title = "Research Software Engineer Jeopardy" %}{% if site.title %}{% assign title = site.title %}{% endif %}
  {% assign description = "Jeopardy for Research Software Engineeers" %}{% if site.description  %}{% assign description = site.description %}{% endif %}
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {% unless include.no_style %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">{% endunless %}

  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}"/>
  <meta property="og:type" content="website">

  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/logo.png">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:card" content="{{ site.twitter_card }}">
  {% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">{% endif %}
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/logo.png">

  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="{{ site.baseurl }}/assets/img/logo.png">
<script type="application/ld+json">
  {"@type":"WebSite","headline":"{{ title }}","url":"{{ site.url }}{{ site.baseurl }}","description":"{{ description }}","name":"{{ title }}","@context":"https://schema.org"}
</script>
</head>

